<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753380307355-hhn4t47qr7bh7o7q0mc15g6a18gp7180.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753380307355-hhn4t47qr7bh7o7q0mc15g6a18gp7180</string>
	<key>API_KEY</key>
	<string>AIzaSyBkX2bq5FcftlO_fH_rkQ8agZoHg6tM0KE</string>
	<key>GCM_SENDER_ID</key>
	<string>753380307355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.husalmous.myApp</string>
	<key>PROJECT_ID</key>
	<string>myproject-a17a8</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-a17a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753380307355:ios:f9998c4300891a9d45b13e</string>
</dict>
</plist>